// Variables
$color: rgba(13, 100, 143, 1);
$color-dark: rgb(11, 87, 124);
$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

/* Main Styles */
.button {
    display: block;
    background-color: $color;
    width: 200px;
    height: 50px;
    line-height: 50px;
    // margin: auto;
    color: #fff;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    transition: $transition;
    
    span,
    .icon {
        display: block;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 0;
    }
    
    span {
        width: 72%;
        line-height: inherit;
        font-size: 1rem;
        text-transform: uppercase;
        left: 0;
        transition: $transition;
        color: #fff;
        
        &:after {
            content: '';
            background-color: $color-dark;
            width: 2px;
            height: 60%;
            position: absolute;
            top: 20%;
            right: -1px;
        }
    }
    
    .icon {
        width: 28%;
        right: 0;
        transition: $transition;
        
        .fab{
            font-size: 25px;
            vertical-align: middle;
            transition: $transition, height #{$speed} ease;
            color: #fff;
        }
        
        .fa-android {
            // height: 36px;
        }
        
        .fa-download {
            display: none;
        }
    }
    
    &.success,
    &:hover {
        
        span {
            left: -72%;
            opacity: 0;
        }
        
        .icon {
            width: 100%;
            
            .icn {
                display: none;
            }
            
            .fa-download {
                display: inline-block;
                padding-top: 10px;
                font-size: 25px;
                color: #fff;
            }
        }
    }
    
    &.success {
        background-color: #27ae60;
        
        .icon {
            
            .fa-remove {
                display: none;
            }
            
            .fa-check {
                display: inline-block;
            }
        }
    }
    
    &:hover {
        opacity: .9;
        
        .icon .fa-remove {
            height: 46px;
        }
    }
    
    &:active {
        opacity: 1;
    }
}