.icon_select_mate {
  position: absolute;
  top: 5px;
  left: 2%;
  font-size: 16px;
  height: 22px;
  -webkit-transition: all 275ms;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  width: 150px;
  color: #414141;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 375ms ease-in-out;
  transition: all 375ms ease-in-out;
  /* Oculto el elemento select */
}

.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.select_mate:first-child {
  position: relative;
  width: 150px;
  color: #fff;
  font-weight: 300;
  background-color: #0d648f;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 375ms ease-in-out;
  transition: all 375ms ease-in-out;
  /* Oculto el elemento select */
}

.select_mate:first-child select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.select_mate:first-child li {
  color: #414141;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 5px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 375ms ease-in-out;
  transition: all 375ms ease-in-out;
}

.cont_select_int li {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  -webkit-transition: all 275ms ease-in-out;
  transition: all 275ms ease-in-out;
  display: block;
  text-align: right;
  cursor: pointer;
}

.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}

.cont_select_int li:hover {
  background-color: rgba(13, 100, 143, 0.2);
}

.cont_select_int .active {
  background-color: rgba(13, 100, 143, 0.4);
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  padding: 5px;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
  text-align: right;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 0.9rem;
  color: #60666d;
  text-align: right;
}

@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
}

.select-box__current {
  position: relative;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 100;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box .select-box__input-text1 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 7px;
  background-color: #fff;
}

.select-box .select-box__input-text2 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 7px;
  background-color: #0d648f;
  color: #fff !important;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 7px;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  z-index: 200;
  margin-top: 5px;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
/*# sourceMappingURL=select.css.map */