
/* ---------------- For sticky header: class="float-panel"  ------------------*/
.float-panel {
    width:100%;background:transparent;z-index:300;padding:10px 0;transform: translateZ(0);
    transition:all 0.5s; /* Effect for switching from .fixed to static */
    
}
.float-panel .logo-container {width: 80px;height: 80px;transition:all 0.4s;}
.float-panel .nav-drill {
	margin-top: 100px;
}
.float-panel .fa-gg {width:100%;transition:all 1s;}
.float-panel .navbar-desc {transition:all 1s;}
.float-panel .navbar-brand {transition:all 1s;}
.float-panel li {padding: 2px 4px;}
/* when class="float-panel fixed" */
.fixed {border-bottom: 1px solid #ea4d6a;box-shadow:0 2px 6px rgba(119, 119, 119, 0.2);padding:4px 0;animation:slide-down 0.7s;opacity:0.9;background-color: #222634;}
.fixed .logo-container {width: 50px;height: 50px;}
.fixed .nav-drill {
	margin-top: 60px;
}
.fixed .fa-gg {width: 50px; }
.fixed .navbar-desc {font-size: 0px;margin-bottom: 0px;}
.fixed .navbar-brand {font-size: 0.9rem;margin-top:10px;transition:all 1s;}
.fixed li {padding: 2px;}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}



